<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Society Application</title>

    <nav  class="navbar bg-body-tertiary">
        <div  class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/dg1.png" alt="Digital Society" width="30" height="24" class="d-inline-block align-text-top">
            
          </a>
        </div>
      </nav>
</head>
<body>
    <center style="background-color: rgb(240, 242, 245);"><h1>login</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="email">
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          </div>
    </center>    
    <center>
        <div>
            <button type="button" class="btn btn-light">login</button>
        </div>
    </center>
</body>
</html>